@import "_breakpoint";

$handheld: 500px;
$desktop: 800px;

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
}

section{

}

.container{
  margin: auto;
  @include breakpoint($desktop){
    width: 1080px;
    section{
      img{
        width: 300px;
      }
      margin: 10px;
      width: 300px;
      height: 500px;
      overflow: scroll;
      display: inline-block;
    }
  }

}

#main{
  @include linear-gradient(blue, white);
}
#sidebar{
  @include linear-gradient(red, black);
}
#instruction{
  @include linear-gradient(silver, blue);
}
